.movie-card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-card-footer .footer-icons-group {
    display: flex;
    gap: 1rem;
}

.movie-card-footer .footer-icons-group>* {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .movie-card-footer h3 {
        font-size: 1rem;
    }
}