.History {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.history-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
}

.history-section>* {
    width: 17.5rem;
}

.History h1 {
    text-align: left;
}

.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-header button {
    border: none;
    height: 2.25rem;
    width: 7.5rem;
    border-radius: 2px;
    color: whitesmoke;
    background-color: var(--binge-red);
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .History h1 {
        font-size: 1.5rem;
    }
}