.Navbar {
    padding: 1rem;
}

.Navbar nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.Navbar .nav-right {
    margin-left: auto;
}

.Navbar .nav-right ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
}

.Navbar .nav-right ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.Navbar .nav-right ul li>* {
    color: whitesmoke;
}

.Navbar .nav-logo {
    color: var(--binge-red);
    display: flex;
    height: 2rem;
    align-items: center;
}

.Navbar .nav-logo h1 {
    margin-left: 0.5rem;
}

.Navbar .nav-right ul.ul-mobile-view {
    display: none;
}

/* .Navbar button.btn-log-out {
    background-color: var(--binge-red);
    border: none;
    height: 2.25rem;
    width: 6rem;
    border-radius: 2px;
    color: whitesmoke;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem 0;
} */

@media screen and (max-width: 400px) {
    .Navbar .nav-right ul.ul-laptop-view {
        display: none;
    }

    .Navbar .nav-right ul.ul-mobile-view {
        display: flex;
        gap: 1.5rem;
    }
}